<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bokor&family=Metal&family=Protest+Guerrilla&family=Roboto:wght@100;300&display=swap"
    rel="stylesheet">
  <title>{{cart._id}}</title>
</head>
<body>

  <h1>cart</h1>
  <div class="product-container">
    <ul>
      {{#each cart.content}}
      <li>
        <h2>{{this.product.title}}</h2>
        <p>{{this.product.description}}</p>
        <p>{{this.product.title}}</p>
      </li>
      {{/each}}
    </ul>
  </div>
</body>

</html>