<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bokor&family=Metal&family=Protest+Guerrilla&family=Roboto:wght@100;300&display=swap"
        rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <h1 class="title">Home</h1>

    <a href="/login">Log in</a>
    <a href="/register">Create User</a>

</body>

</html>