<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/documents.css">
  <title>Document</title>
</head>

<body>
  <h1>Upload Documentation</h1>

  <div>
    <p>In order to upgrade to Premium, ID, proof of residence and account statement must be uploaded</p>
    <div>

      <form action="/api/users/{{uid}}/documents" method="POST" enctype="multipart/form-data">
        <input type="file" name="profile" placeholder="Profile picture">
        <br>
        <br>
        <input type="file" name="product" placeholder="Product picture">
        <br>
        <br>
        <span>ID - name it ID</span>
        <input type="file" name="document" placeholder="Document (name it ID)">
        <br>
        <br>
        <span>Proof of Residence - name it Proof of Residence</span>
        <input type="file" name="document" placeholder="Document (name it Proof of Residence)">
        <br>
        <br>
        <span>Account Statement - name it Account Statement</span>
        <input type="file" name="document" placeholder="Document (name it Account Statement)">
        <br>
        <br>
        <button type="submit">Upload Documents</button>
      </form>
</body>

</html>