<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Upload Documentation</h1>
  
  <form action="/api/users/{{uid}}/documents" method="POST">
    <input type="text" name="document">
    <br>
    <br>
    <button type="submit">Upload Document</button>
  </form>

</body>
</html>
