body {
  background:  #d8dcdf; 
} 

h1 {
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 50px;
  text-align: center;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}